<div>
    <h1> REGISTER</h1>
    <input type="text" id="name" name="name" placeholder="enter username" [(ngModel)]="name" class="form-control"/>
    <br>
    <input type="email" id="name" name="email" placeholder="enter email" [(ngModel)]="email" class="form-control"/>
    <br>
    <input type="number" id="name" name="phone" placeholder="enter number" [(ngModel)]="phone" class="form-control"/>
    <br>
    <input type="text" id="name" name="pwd" placeholder="enter password" [(ngModel)]="pwd" class="form-control"/>
    <br>
    <button type="button" class="btn btn-success"  (click)="registerUser()">Register</button>
</div>
